.LogoImage {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

@media (max-width: 400px) {
  .LogoImage {
    width: 120px !important;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .HadingTypography {
    margin-top: -10px !important;
    font-size: 10px !important;
  }
  .FontLink {
    margin-top: 30px !important;
  }
  .accountLink {
    margin-top: -19px !important ;
  }
}

/* styles.module.css */
